/* app css stylesheet */

body {
    font-family: Verdana;
    padding: 3em;
}

h1 {
    border-bottom: 1px solid black;
}

.contact {
    border: 1px solid orange;
    padding: 0.5em;
    margin: 0.25em;
    width: 40em;
    background-color: #dee;
}

footer {
    border-top: 1px solid black;
    font-size: 0.7em;
}

select {
    width: 20em;
}