<!doctype html>
<html lang="en" ng-app="myModule">
<head>
    <meta charset="utf-8">
    <title>Shared Components</title>
</head>
<body>

<div ng-controller="ControllerOne">
    <input ng-model="message">
    <button ng-click="handleClick(message)">BROADCAST</button>
</div>

<div ng-controller="ControllerTwo">
    <input ng-model="message">
</div>

<div ng-controller="ControllerThree">
    <input ng-model="message">
</div>

<script src="lib/angular/angular.js"></script>
<script src="js/shared.js"></script>
</body>
</html>
